.hero {
  display: flex;
  margin: 3px;
  margin-left: 0;
  height: 40px;
  text-align: center;
  background-color: #eeeeee;
  border-radius: 0 6px 6px 0;
  position: relative;
}
span {
  background-color: black;
  color: white;
  padding: 12px;
  border-radius: 6px 0 0 6px;
}
p {
  margin-left: 8px;
  margin-top: 10px;
}
.hero:hover {
  margin-left: 6px;
  transition: 0.2s;
}
.btn-delete {
    background-color: red;
    right: 10px;
    position: absolute;
    border-radius: 50%;
    border: none;
    top: 10px;
    display: none;
    color: white;
  }
.hero:hover > .btn-delete {
    display: block;
  }

