.title {
  color: #336699;
  font-size: 2.5rem;
}
.header-button {
  background-color: #e4e4db;
  border: none;
  padding: 12px;
  border-radius: 2px;
  margin-right: 15px;
}
.header-button:hover {
  background-color: #304855;
  color: white;
  transition: 0.4s;
}
.main-container {
  margin-bottom: 15px;
}
