.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  padding: 10px;
  min-width: 260px;
}
